.login-layout {
  min-height: 100vh;
  .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
  }

  .login-card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}
