@import "../../../../../styles/variables";

.todo-list-header {
  width: 100%;
}

.todo-list-title {
  margin: 0;
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
}

.search-input {
  width: 300px;
}

.filter-select,
.sort-select {
  width: 150px;
}
