@import "../../../styles/variables";
@import "../../../styles/mixins";

.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navbar-header {
  @include flex-start;
  gap: 10px;
  padding: $spacing-lg $spacing-2xl;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: $spacing-sm;
}

.navbar-icon {
  font-size: 24px;
  color: #61dafb;
}

.navbar-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  color: $gray-800;
}

.navbar-menu {
  height: 100%;
  border-right: 0;
}
