.list-user-container {
  .list-user-content {
    margin-top: 20px;
    font-size: 28px;
    .child {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      width: 400px;
      margin: 0 auto;
      height: 40px;
      border: 1px solid grey;
      cursor: pointer;
    }
  }
}
